html {
  background-color: #B9B4C7;
  background-image: -webkit-linear-gradient(65deg, #352F44 50%, #B9B4C7 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #B9B4C7;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #B9B4C7;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #352F44;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B9B4C7;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #352F44;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #352F44;
  font-family: 'Font Name', sans-serif;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #352F44;
  color: #B9B4C7;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #352F44;
}

::placeholder {
  color: #352F44;
  opacity: 0.5;
}

footer {
  margin-top: 250px;
  color: #B9B4C7;
  text-align: center;
}
